<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.7:3306/DiemDanh?useUnicode=true&amp;characterEncoding=UTF-8</property>
        <property name="hibernate.connection.username">sonloc</property>
        <property name="hibernate.connection.password">phansonloc123</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping resource="SinhVien.hbm.xml"/>
    </session-factory>
</hibernate-configuration>